/* TIPOGRAFIA IMPORTADA */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box; }

body {
  margin-top: 3%; }

.h1_inicio {
  font-family: 'Poppins', sans-serif; }
